@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
    themes: light, dark  --default --prefersdark, dim;
}

.disabled {
    pointer-events: none;
}


.pointer {
    cursor: pointer;
}

/* Allow line breaks in tooltips */
.tooltip::before {
    white-space: pre-line;
}
